<div class="mine">
            <p>どうもこんにちは。Youです。スマホとカメラやゲームが好きです。よくマイクラやフォートナイトやってます！常時暇なのでだれか誘ってください！欲しいスマホはRealme X7 Proです。スマホやゲーム関連の記事をジャンジャン上げていきたいと思います！よろしくお願いします！<%=link_to("Twitter","https://twitter.com/YouYouAgainPlus")%>のほうもよろしくお願いします!また
            ,<%=link_to("ココナラ","https://coconala.com/services/1322209?ref=top_histories&ref_kind=home&ref_no=1")%>でホームページ作成代行もやっています！よろしくお願いします！</p>
</div>
<div class="top">
    <div class="top-content">
        <div class="top-image">
            <%= image_tag "1-1.jpg"%>
        </div>
        <div class="top-title">
            <h2><%=link_to("マイクラを完全無料でやる方法","/1")%></h2>
        </div>
    </div>
</div>
